html
{
    overflow: -moz-scrollbars-none;
}

body
{
    overflow: hidden;
}

/* OW_AVATAR */

span
{
    color: #2196F3;
    font-weight: 700;
}

.ow_avatar {
    position: absolute;
    top: 48px;
    left: calc( 25% - 90px - 48px);
    min-width: 40px;
    max-width: 100%;
    margin: 5px;
    padding: 0;
    border: 3px solid #FFFFFF;
    border-radius: 50%;
}

.ow_avatar.no_img {
    line-height: 40px;
    font-size: 20px;
    text-align: center;
}
.ow_avatar.no_img img{
    display: none;
}
.ow_avatar.no_img a {
    color: #FFFFFF;
    font-weight: 700;
}
.ow_avatar.no_img a:hover {
    text-decoration: none;
}
/* OW_AVATAR END */


div.agora_speech_text
{
    display: none;
}

.datalet_container
{
    margin: 24px auto;
    display: flex;
}

  .site_tour
{
    background: url('../images/st-logo-white.png') no-repeat center;
    background-size: contain;
    width: 71px;
    height: 40px;
    position:fixed;
    top: 4px;
    left: 4px;
    z-index: 10
}

.page_navigator
{
    position: fixed;
    right: 0px;
    height: 100vh;
    width: 48px;
    z-index: 100;
}

.page_navigator_container
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    height: 100%;
}

.page_navigator_container div
{
    cursor:pointer;
    background-color: transparent;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin: 6px;
    border: 2px solid #ffffff;
    position: relative;
}

.selected:before
{
    content: '';
    position: absolute;
    left: 4px;
    top: 4px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #FFFFFF;
}

.page_one
{
    position: relative;
    height: 100vh;
   /* background: url("../images/light-graph-background-gradient.jpg") center no-repeat;
    background-attachment: fixed;
    background-size: cover;*/
}

.header_bar
{
    width: 100%;
    height: 48px;
    background-color: #2196F3;
    position: absolute;
}

#page_two
{
    display: flex;
    flex-direction: row;
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

#sx_view
{
    height: 100%;
    width: 0;
    overflow: hidden;
    position: absolute;
    z-index: 2;
}

.sx_container
{
    height: 100%;
    width:100vw;
    position: relative;
    /*background-color: #f2f0f1;*/
    display: flex;
    justify-content: center;
    align-items: center;

    /*background: #3494E6;  !* fallback for old browsers *!*/
    /*background: -webkit-linear-gradient(to right, #EC6EAD, #3494E6);  !* Chrome 10-25, Safari 5.1-6 *!*/
    /*background: linear-gradient(to right, #EC6EAD, #3494E6); !* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!*/

    background-color: #FFFFFF;
}

#dx_view
{
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;
    z-index: 1;
}

.dx_container
{
    height: 100%;
    width:100vw;
    position: relative;
    background-color: #f2f0f1;
    display: flex;
    justify-content:center; align-items: center;
    background: url('../images/bck.jpg')
}

.comparator_image_container
{
    /*width: 50%;*/
    width: 1000px;
    position: absolute;
    right: 0;
    left:0;
    margin: 0 auto;
}

.comparator_image_container img {
    width: 100%;
}

#dragme
{
    position: absolute;
    width: 2px;
    height: 100%;
    top: 0;
    background-color: #FB8C00;
    cursor: pointer;
    z-index: 103;
}

#dragme span
{
    width: 32px;
    height: 32px;
    background: url('../images/drag.svg') no-repeat center center;
    background-size: 26px 26px;
    background-color: #FF9800;
    display: block;
    position: absolute;
    top: calc(50% - 16px);
    left: -15px;
    border-radius: 50%;
}

#dragme span:before
{
    content: '';
    position: absolute;
    left: -11px;
    top: -11px;
    width: 50px;
    height: 50px;
    border: 2px solid #FF9800;
    border-radius: 50%;
    transform: scale(0.6);
    transform-origin: center center;
    animation-name: loopwidth;
    animation-duration: 1.5s;
    animation-timing-function: ease-in;
    animation-iteration-count:infinite;
}

#dragme span:hover
{
    background-color: #FB8C00;
}

#dragme span:hover:before{
    border: 2px solid #FB8C00;
}

@keyframes loopwidth {
    0%   { transform: scale(0.6); }
    /*25%  { transform: scale(0.8); }*/
    50% { transform: scale(1); }
    /*75% { transform: scale(0.8); }*/
    100% { transform: scale(0.6); }
}

/**/
.colored_circle, .bw_circle {
    position: absolute;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    line-height: 32px;
    color: white;
    text-align: center;
    font-weight: 700;
}
.colored_circle {
    background-color: #00BCD4;
}

.bw_circle {
    background-color: #BDBDBD;
}

.colored_circle:before, .bw_circle:before
{
    content: '';
    position: absolute;
    left: -11px;
    top: -11px;
    width: 50px;
    height: 50px;
    border: 2px solid #00BCD4;
    border-radius: 50%;
    transform: scale(0.6);
    transform-origin: center center;
    animation-name: loopwidth;
    animation-duration: 1.5s;
    animation-timing-function: ease-in;
    animation-iteration-count:infinite;
}

.bw_circle:before {
    border: 2px solid #BDBDBD;
}

.colored_circle.p1, .bw_circle.p1 {
    top: 26px;
    left: 166px;
}
.colored_circle.p2, .bw_circle.p2 {
    top: 26px;
    left: 802px;
}
.colored_circle.p3, .bw_circle.p3 {
    top: -34px;
    left: 484px;
}
.colored_circle.p4, .bw_circle.p4 {
    top: 142px;
    left: 30px;
}
.colored_circle.p5, .bw_circle.p5 {
    top: 142px;
    left: 938px;
}
/**/

/**/

.colored_floating_text, .bw_floating_text {
    position: absolute;
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    width: 400px;
    padding: 8px;
    border-radius: 4px;
}

.colored_floating_text
{
    background-color: #E3F2FD;
    color: #2196f3;
}

.bw_floating_text {
    background-color: rgba(250, 250, 250, 0.4);
    color: #BDBDBD;
}

.colored_floating_text.p1, .bw_floating_text.p1 {
    top: 10%;
    left: 10%;
    background: transparent;
    width: initial;
    font-size: 32px;
    line-height: 48px;
}
.colored_floating_text.p2, .bw_floating_text.p2 {
    top: 10%;
    left: 70%;
}
.colored_floating_text.p3, .bw_floating_text.p3 {
    top: 80%;
    left: 10%;
}
.colored_floating_text.p4, .bw_floating_text.p4 {
    top: 80%;
    left: 70%;
}

.colored_floating_text span.c1 {
    color: #FF9800;
}

.colored_floating_text span.sp {
    color: #00BCD4;
    font-weight: 700;
}

/*.speech_balloon:before*/
/*{*/
    /*content: ' ';*/
    /*position: absolute;*/
    /*width: 0;*/
    /*height: 0;*/
    /*left: -16px;*/
    /*top: 0;*/
    /*border: 8px solid;*/
    /*border-color: #BBDEFB #BBDEFB transparent transparent;*/
/*}*/

/*.speech_balloon*/
/*{*/
    /*background-color: #BBDEFB;*/
    /*border-radius: 0 5px 5px 5px;*/
    /*margin-left: 16px;*/
    /*margin-top: 8px;*/
    /*padding: 12px 16px;*/
/*}*/

/*.speech_balloon_reverse:before*/
/*{*/
    /*content: ' ';*/
    /*position: absolute;*/
    /*width: 0;*/
    /*height: 0;*/
    /*right: -16px;*/
    /*top: 0;*/
    /*border: 8px solid;*/
    /*border-color: #BBDEFB  transparent transparent #BBDEFB;*/
/*}*/

/*.speech_balloon_reverse*/
/*{*/
    /*background-color: #BBDEFB;*/
    /*border-radius: 5px 0 5px 5px;*/
    /*margin-left: 16px;*/
    /*margin-top: 8px;*/
    /*padding: 12px 16px;*/
/*}*/

/**/

#page_three
{
    position: relative;
    height: 100vh;
    background-image: url("../images/the-earth-isnt-flat-phlogiston-doesnt-exist-small.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#div1 div {
    position:absolute;
}

#div1
{
    position: relative;
    height: 100%;
    width: 100%;
    display: flex; justify-content: center; align-items: center;
}

#div2
{
    height: 458px;
    width: 300px;
    transform: rotateX(45deg) rotateZ(-45deg) translateX(210px) translateY(235px);
}


#div3:before, #div2:before, #div4:before{
    content: '';
    position: absolute;
    left: -4px;
    top: 4px;
    width: 298px;
    height: 401px;
    background: #c9c9c9;
}

#div3
{
    height: 458px;
    width: 300px;
    transform: rotateX(45deg) rotateZ(-45deg) translateX(-120px) translateY(235px);
}

#div4
{
    height: 458px;
    width: 300px;
    transform: rotateX(45deg) rotateZ(-45deg) translateX(30px) translateY(-205px);
}

#base_datalet_container
{
    display: none;
}

#div3 .leaflet-control-container
{
    display: none;
}

.ow_avatar img
{
    width: 90px;
    height: 90px;
}

.ow_avatar
{
    width: 90px;
    height: 90px;
    overflow: hidden;
}

div.agora_fullsize_datalet
{
    position: absolute;
    right: 25%;
    top: 48px;
    width: 50%;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

div.datalet_info
{
    font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 14px;
    padding: 8px;
    box-sizing: border-box;
    position: absolute;
    right: 25%;
    top: 554px;
    width: 50%;
    border-radius: 4px;
    overflow: hidden;
    /*box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);*/
    color: #FFFFFF;
    background-color: rgba(0,0,0,0.4);
}

.datalet_context
{
    margin-bottom: 16px;
    font-size: 14px;
    line-height: 16px;
}

.datalet_context br
{
    display: block;
    margin: 4px 0;
    content: '';
}

.project_info
{
    opacity: 0.6;
}

.project_grant
{
    position: absolute;
    bottom: 0;
    width: 100%;
    opacity: 0.6;
    display: flex;
    flex-direction: row;
    background-color: #000000;
    padding: 8px;
    box-sizing: border-box;
    color: #FFFFFF;
}

.project_grant_text
{
    padding-left: 8px;
    line-height: 40px;
    font-size: 12px;
}

.eu_flag
{
    background: url('../images/EU-Flag.jpg') no-repeat;
    background-size: cover;
    height: 40px;
    width: 60px;
}

/* BCK STEP 1 */
html, body {
}

body {
    background: #e0e6eb;
}

#demo svg, #demo {
    width: 100%;
    height: 100%;
}
#demo svg g {
    mix-blend-mode: lighten;
}
#demo svg polygon {
    stroke: none;
    fill: white;
}
/* BCK STEP 1 */


.mobile_image
{
    display: none;
}

@media (max-width: 800px)
{
    .ow_avatar img
    {
        width: 40px;
        height: 40px;
    }

    .ow_avatar
    {
        width: 40px;
        height: 40px;
        overflow: hidden;
        left: 8px;
        top: 8px;
    }

    .page_navigator_container
    {
        display: none;
    }

    .project_grant
    {
        display: none;
    }

    div.datalet_info
    {
        width: 100%;
        border-radius: 0;
        left: 0;
        top: initial;
        bottom: 0;
        background-color: rgba(0,0,0,0.6);
    }

    .mobile_image
    {
        display: block;
        width: 100%;
        height: 200px;
        position: absolute;
        top: 68px;
        left: 0;
        overflow: hidden;
        padding: 0 8px;
        box-sizing: border-box;
    }

    .mobile_image img
    {
        width: 100%;
    }

    .agora_fullsize_datalet
    {
        display: none;
    }
}

@media (max-height: 400px)
{
    .ow_avatar img
    {
        width: 40px;
        height: 40px;
    }

    .ow_avatar
    {
        width: 40px;
        height: 40px;
        overflow: hidden;
        left: 8px;
        top: 8px;
    }

    .page_navigator_container
    {
        display: none;
    }

    .project_grant
    {
        display: none;
    }

    div.datalet_info
    {
        width: 100%;
        border-radius: 0;
        top: initial;
        bottom: 0;
        left:0;
        background-color: rgba(0,0,0,0.6);
    }

    .mobile_image
    {
        display: block;
        width: 100%;
        height: 200px;
        position: absolute;
        top: 68px;
        left: 0;
        overflow: hidden;
        padding: 0 8px;
        box-sizing: border-box;
    }

    .mobile_image img
    {
        width: 100%;
    }

    .agora_fullsize_datalet
    {
        display: none;
    }
}